#clockContainer{
    position :relative;
    border:2px solid red;
    background: url( "clock.png") no-repeat;
    height: 40vw;
    width: 40vw;
    background-size: 100%;
    margin:auto;
 
}

#hour, #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    height: 10vw;
    width: 1.75%;
    top: 9.75vw;
    left: 19.725vw;
     
}
#minute {
    height: 12vw;
    width: 1.25%;
    top: 8vw;
    left: 19.75vw;
     
}
#second {
    height: 13.5vw;
    width: 1%;
    top: 6.5vw;
    left: 19.75vw;
}